.card {
  margin: 20px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  position: relative;
  text-decoration: none;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card-image {
  border-radius: 3px;
}

.cart-wishlist-but {
  display: flex;
  flex-direction: column;
}

.addOrDel-btn {
  padding: 10px;
  border: 1px solid #80808052;
  color: #7124b4e0;
  background-color: white;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  margin: 5px 10px 10px 10px;
  text-decoration: none;
}

.addOrDel-link-btn {
  padding: 11px;
  border: 1px solid #80808052;
  color: #7124b4e0;
  background-color: white;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  margin: 5px 10px 10px 10px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
}

.addOrDel-link-btn:hover {
  color: white;
  background-color: #7124b4e0;
  text-decoration: none;
}

.addOrDel-btn:hover {
  color: white;
  background-color: #7124b4e0;
  text-decoration: none;
}

.out-of-stock {
  padding: 11px;
  border: 1px solid #8080800c;
  color: white;
  background-color: #80808052;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  margin: 5px 10px 10px 10px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
}

.wishlist-btn-empty {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: darkgrey;
  cursor: pointer;
}

.wishlist-btn-filled {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #FF5656;
  cursor: pointer;
}

.product-title {
  margin: 5px 10px;
  color: rgb(66, 66, 66);
  font-weight: bold;
}

.product-description {
  margin: 5px 10px;
  font-size: small;
}

.product-pricing {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.product-price {
  margin: 5px 10px;
  font-weight: bold;
  color: rgb(43, 42, 42);
}

.product-mrp {
  margin: 5px 20px;
  font-size: small;
  text-decoration: line-through;
  color: #424242;
  position: absolute;
  left: 2.5rem;
  bottom: 2px
}

.product-discount {
  margin: 5px 20px;
  font-size: small;
  color: #1abe22;
  font-weight: bold;
  position: absolute;
  left: 5rem;
  bottom: 2px
}

.product-rating {
  margin: 0 !important;
  padding: 0 !important;
  cursor: auto;
  margin-left: 0.3rem !important;
}

.product-rating-stars {
  font-size: 18px !important;
}